/* 
* _table.scss
* author: utomo hendra saputra
* last edited: August 20, 2017
*/

table {

    font-family: $font-family-light;
    font-size: 0.75rem;
    font-weight: 300;
}

thead {

    th {

        text-align: center;
    }
}